@import "tailwindcss";

@font-face {
  font-family: Mada;
  src: url("./assets/fonts/Mada-VariableFont_wght.ttf");
}

@font-face {
  font-family: Literata;
  src: url("./assets/fonts/Literata-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Mr Dafoe";
  src: url("./assets/fonts/MrDafoe-Regular.ttf");
}

@theme {
  /* --- COLORS --- */
  --color-background: #060B44;
  --color-primary: #AEB7EA;
  --color-secondary: #6D7DD9;
  --color-accent: #ed8f41;

  /* --- FONTS --- */
  --font-mada: "Mada", sans-serif;
  --font-literata: "Literata", serif;
  --font-mrdafoe: "Mr Dafoe", cursive;
}

@keyframes wave-slide {
  0%, 100% {
    transform: translateX(-3%);
  }
  50% {
    transform: translateX(3%);
  }
}

@keyframes orbit {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes counter-orbit {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-360deg); }
}

@utility animate-orbit {
  animation: orbit 30s linear infinite;
}

@utility animate-counter-orbit {
  animation: counter-orbit 30s linear infinite;
}

html {
  background-color: #060B44;
}
